services: 
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: monorepo_db
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  backend:
    build:
      context: ./chat-widget-monorepo/chat-widget-backend
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build:
      context: ./chat-widget-monorepo/frontend-dashboard
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./chat-widget-monorepo/frontend-dashboard/nginx.conf:/etc/nginx/conf.d/default.conf
